# Arquivo padronizado
file.yaml

# enviroment
venv

# python cache
database/__pycache__/
Analise/__pycache__/
*.pyc

# banco de dados
nerdy-web/*.db
nerdy.db

# variáveis de ambiente
.env

# sistema
.DS_Store